{% extends "base.html" %}

{% load staticfiles %}

{% load material_form %}

{% block base_style %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href='{% static "/css/login.css" %}'>
{% endblock style %}

{% block sidebar %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col l10 m10 s10 offset-l1 offset-m1 offset-s1">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">Login</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s10 offset-l3 offset-m3 offset-s1">
            <div class="card">
                <div class="card-content">
                    <form method="POST" id="form">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}

                        <button type="submit" name="_submit" class="btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block action-button %}{% endblock %}