@import url("https://fonts.googleapis.com/css?family=Dosis:600,800");
@media only screen and (min-width: 992px) {
  #main-container {
    padding-left: 300px; }
  .fixed-action-btn {
    visibility: hidden; } }

@media only screen and (max-width: 993px) {
  #main-container {
    padding-left: 0px; } }

html {
  background-color: #f5f5f5; }

body {
  font-family: 'Dosis', sans-serif; }
