.collection a.collection-item {
  font-size: 30px;
  line-height: 1.5;
  text-align: left; }

.collapsible-body {
  padding: 0px; }

.collapsible-header {
  font-size: 30px; }
  .collapsible-header i {
    font-size: 30px; }
