//navbar media query is 992

@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');
@import "components/color-variables";


@media only screen and (min-width : 992px) {
    // styles for small screens and down
    #main-container{
        padding-left: 300px;
    }
    .fixed-action-btn{
        visibility: hidden;
    }
}

@media only screen and (max-width: 993px) {
    // styles for small screens and down
    #main-container{
        padding-left: 0px;
    }
}

html{
    background-color: color('grey', 'lighten-4');
}

body{
    font-family: 'Dosis', sans-serif;
}
