footer{
    a , p{
        font-size: 25px;
    }
}

#subscribe-btn{
    font-size: 30px;
}

#red{
    height: 100vh;
    width: 100vw;
    margin: auto;
    .wrapper{
        margin: auto;
    }
}

#footer-container{
    margin: auto;
    width: 90%;
}

img.banner{
    width: 100%;
}

.material-icons{
    font-size: 100px;
}

.card-content{
    font-size: 25px;
}
