@import "components/color-variables";

input:-webkit-autofill + label {
  -webkit-transform: translateY(-14px) scale(0.8);
  transform: translateY(-14px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

html{
    background-color: color('grey', 'lighten-4');
}