{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href='{% static "/favicon.ico" %}'/>

        <!-- Materialize CSS -->
        <link rel="stylesheet" href='{% static "/css/materialize.css" %}'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Custom CSS -->
        {% block base_style %}
            <link rel="stylesheet" href='{% static "/css/base.css" %}'>
        {% endblock %}

        {% block style %}{% endblock %}

        <title>Dekiru</title>

    </head>
    <body>
        {% block sidebar %}
            <header>
                <ul class="sidenav sidenav-fixed" id="slide-out">
                    <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Home</a></li>
                    <li><a href="{% url 'lessons' 1 %}"><i class="material-icons">format_list_bulleted</i>Todas las Lecciones</a></li>
                    <li><a href="{% url 'lessons' 2 %}"><i class="material-icons">folder</i>N4</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Logout</a></li>
                </ul>
            </header>
        {% endblock %}

        <div id="main-container">
        <!-- main page content  -->
            {% block content %}
                <h1>Dekiru Home</h1>
            {% endblock %}
        </div>

        {% block action-button %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red sidenav-trigger" data-target="slide-out">
                <i class="large material-icons">dehaze</i>
            </a>
        </div>
        {% endblock %}


        <!-- Optional JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src='{% static "/js/bin/materialize.min.js" %}'></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
        {% block javascript %}{% endblock javascript %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>
