{% extends "site-base.html" %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "/css/home.css" %}'>
{% endblock %}

{% block content %}
<nav class="pushpin-demo-nav" data-target="red">
    <div class="nav-wrapper light-red">
        <div class="container">
            <a href="#" class="brand-logo">Dekiru</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!">About</a></li>
                <li><a href="#!">Features</a></li>
                <li><a href="#!">Social</a></li>


            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>

<div id="red" class="container-fluid materialize-red center-align white-text valign-wrapper">
    <div class="wrapper">
        <h1>La manera mas eficiente de mejorar tu japones </h1>
        <h3>Conoce como</h3>
        <a class="waves-effect waves-light btn white red-text btn-large" id="subscribe-btn">Suscribirse</a>
    </div>
</div>

<div class="container">
    <br><br>
    <h1 class="header center materialize-red-text">Que es Dekiru?</h1>
        <div class="row center">
            <h5 class="header col s12 black-text">Es una pagina para estudia japones de manera personalizada.</h5>
        </div>
    <br><br>
</div>

<div class="container-fluid center">
    <br><br>
    <img class="banner" src="{% static "/img/banner2.png" %}" alt="imagen">
</div>

<div class="container-fluid ">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">En tu Idioma</h2>
              </div>
              <div class="card-content">
                <p>Dekiru esta 1OO% en Español a diferencia de todas las demas paginas
                    o aplicaciones que solo usan traducciones muy simples que no son acertadas siempre.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">Simple</h2>
              </div>
              <div class="card-content">
                <p>Dekiru programara y administrara tu tiempo y esfuerzo para que tu simplementes te sientes y estudies
                de manera rapida y efectiva sin tanto rodeo de esta manera aprovecharas tu tiempo al maximo.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">Aprende</h2>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">Aprende</h2>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">Aprende</h2>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <h2 class="center blue-text"><i class="material-icons">desktop_mac</i></h2>
                <h2 class="center">Aprende</h2>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
    </div>


  </div>
  <br><br>
</div>

<div class="container-fluid  orange white-text center">
    <br><br>
    <h2>Mas de 5,OOO palabras!</h2>
    <h2>En un Año</h2>
    <br><br>
</div>

<div class="container-fluid green" id="footer-banner">
    <img class="banner" src="{% static "/img/banner3.png" %}" alt="imagen">
</div>

<footer class="page-footer green">
    <div class="container" id="footer-container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Sitio</h5>
          <ul>
            <li><a class="white-text" href="#!">Suscribirse</a></li>
            <li><a class="white-text" href="#!">Historia</a></li>
            <li><a class="white-text" href="#!">Log In</a></li>
            <li><a class="white-text" href="#!">Videos</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a href="" class="large white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="" class="large white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="" class="large white-text"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="" class="large white-text"><i class="fa fa-youtube fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
{% endblock %}
