{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href='{% static "/favicon.ico" %}'/>

        <!-- Materialize CSS -->
        <link rel="stylesheet" href='{% static "/css/materialize.css" %}'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href='{% static "/css/base.css" %}'>

        {% block style %}{% endblock style %}

        <title>Dekiru</title>

    </head>
    <body>
        
        {% block content %}
            <h1>Dekiru Home</h1>
        {% endblock %}

        <!-- Optional JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src='{% static "/js/bin/materialize.min.js" %}'></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
        {% block javascript %}{% endblock javascript %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>
