{% extends "base.html" %}

{% load material_form %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "/css/question.css" %}'>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="col l8 m8 s12 offset-l2 offset-m2">
            <h2 class="center">{{ question }}</h2>

            <form action="" method="post">{% csrf_token %}
                <div class="row">
                {% if test_mode == 1 %}
                    {% for opt in inputs %}
                        <div class="col l6 m6 s6 center">
                            <input class="btn btn-floating" type="submit" name="answer" value="{{ opt }}" />
                        </div>
                    {% endfor%}
                {% else %}
                    <div class="input-field col l6 m6 s6 offset-l3 offset-m3 offset-s3">
                        <input placeholder="Respuesta" name="answer" type="text" class="validate center">
                    </div>
                {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
