{% extends "base.html" %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href='{% static "/css/test-result.css" %}'>
{% endblock style %}

{% block content %}

    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">Fin del Examen</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col l5 m5 s12 offset-l1 offset-m1">
            <div class="card horizontal light-blue darken-2 white-text">
                <div class="icon">
                    <i class="material-icons large">playlist_add_check</i>
                </div>
                <div class="card-content">
                    <div class="text">{{ object.lesson.name }}</div>
                </div>
            </div>
        </div>
        <div class="col l5 m5 s12 ">
            <div class="card horizontal orange white-text">
                <div class="icon">
                    <i class="material-icons large">playlist_add_check</i>
                </div>
                <div class="card-content">
                    <div class="text">{{ object.mode.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-panel col l8 m8 s8 offset-l2 offset-m2 offset-s2">
            <h2 class="center">Resultado</h2>
            {% if object.score >= 60 %}
                <h2 class="center green-text">{{ object.score }} %</h2>
            {% else %}
                <h2 class="center red-text">{{ object.score }} %</h2>
            {% endif %}

        </div>
    </div>

    <h2 class="center">Respuestas</h2>
    <div class="row">
        <ul class="collection col l10 m10 s12 offset-l1 offset-m1">
            {% for question in questions %}
                <li class="collection-item avatar valign-wrapper">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title">{{ question.item.name }}</span>
                    <span class="title">{{ question.answer }}</span>
                    <span class="title">{{ question.result }}</span>

                    {% if question.result == 0 %}
                        <a href="#!" class="secondary-content" id="list-circle"><i class="material-icons circle red">play_arrow</i></a>
                    {% else %}
                        <a href="#!" class="secondary-content" id="list-circle"><i class="material-icons circle green">play_arrow</i></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
