{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href='{% static "/css/test-menu.css" %}'>
{% endblock style %}

{% block content %}

    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">Examen</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l10 m10 s12 offset-l1 offset-m1 ">
        <h2>Selecciona el tipo de examen</h2>

        <ul class="collapsible">
            {% if test_status %}
                <li>
                    <div class="collapsible-header valign-wrapper"><i class="material-icons">assignment</i>Examen</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="{% url 'create-test' lesson 1%}" class="collection-item">Opcion Multiple</a>
                            <a href="{% url 'create-test' lesson 2%}" class="collection-item">Texto</a>
                            <a href="{% url 'create-test' lesson 3%}" class="collection-item">Misxto</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="collapsible-header valign-wrapper grey-text"><i class="material-icons">assignment</i>Falta para el sig examen: &nbsp<div id="demo"></div></div>
                </li>
                <li>
                    <div class="collapsible-header valign-wrapper"><i class="material-icons">assignment</i>Examen</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="{% url 'create-test' lesson 1%}" class="collection-item">Opcion Multiple</a>
                            <a href="{% url 'create-test' lesson 2%}" class="collection-item">Texto</a>
                            <a href="{% url 'create-test' lesson 3%}" class="collection-item">Misxto</a>
                        </div>
                    </div>
                </li>
            {% endif %}

            <li>
                <div class="collapsible-header valign-wrapper"><i class="material-icons">menu</i>Examen de Practica Todos</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a href="{% url 'create-review' lesson 1 0%}" class="collection-item">Opcion Multiple</a>
                        <a href="{% url 'create-review' lesson 2 0%}" class="collection-item">Texto</a>
                        <a href="{% url 'create-review' lesson 3 0%}" class="collection-item">Misxto</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header valign-wrapper"><i class="material-icons">playlist_play</i>Examen de Practica Solo Previamente Estudiados</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a href="{% url 'create-review' lesson 1 1%}" class="collection-item">Opcion Multiple</a>
                        <a href="{% url 'create-review' lesson 2 1%}" class="collection-item">Texto</a>
                        <a href="{% url 'create-review' lesson 3 1%}" class="collection-item">Misxto</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header valign-wrapper"><i class="material-icons">playlist_add</i>Examen de Practica Solo Nuevos</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a href="{% url 'create-review' lesson 1 2%}" class="collection-item">Opcion Multiple</a>
                        <a href="{% url 'create-review' lesson 2 2%}" class="collection-item">Texto</a>
                        <a href="{% url 'create-review' lesson 3 2%}" class="collection-item">Misxto</a>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
      });
</script>

<script>
// Set the date we're counting down to
// var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();
var test_date = new Date("{{ test_date.isoformat }}")
var countDownDate = test_date.getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  //document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  //+ minutes + "m " + seconds + "s ";
  document.getElementById("demo").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock javascript %}
