{% extends "base.html" %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "/css/test-history.css" %}'>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">Examenes Pasados</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l10 m10 s12 offset-l1 offset-m1">
            <ul class="collection with-header card">
                {% for test in object_list %}
                    <li class="collection-item avatar">
                        <div class="row valign-wrapper">
                            <div class="col l14 m4 s4 center">
                                <h3>Title</h3>
                            </div>
                            <div class="col l14 m4 s4 center">
                                {% if item.percentage > 60 %}
                                    <h5>{{ test.lesson.name }}</h5> <h5>{{ test.date }}</h5>
                                {% else %}
                                    <h5>{{ test.lesson.name }}</h5> <h5>{{ test.date }}</h5>
                                {% endif %}
                            </div>
                            <div class="col l14 m4 s4 center">
                                <a href="{% url 'test-result' test.id%}"><i class="material-icons blue-text text-darken-3">assignment_turned_in</i></a>
                            </div>
                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
