{% extends "base.html" %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href='{% static "/css/lesson-modifier.css" %}'>
{% endblock style %}

{% load material_form %}

{% block content %}

    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">{{ object.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l10 m10 s12 offset-l1 offset-m1">
            <div class="card">
                <div class="card-content">
                    <form method="POST" id="form">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class="btn">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
