{% extends "base.html" %}

{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "/css/lesson-tracking.css" %}'>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">Seguimiento de resultados {{ object.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l10 m10 s12 offset-l1 offset-m1">
            <ul class="collection with-header">
                <li class="collection-header light-blue darken-2"><h1 class="center white-text">Tracking</h1></li>
                {% for item in item_tracking_list %}
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                            <div class="col l14 m4 s4 center">
                                <h3>{{ item.item.name }}</h3>
                            </div>
                            <div class="col l14 m4 s4 center">
                                {% if item.percentage > 60 %}
                                    <h3 class="green-text">{{ item.percentage }}  %</h3>
                                {% else %}
                                    <h3 class="red-text">{{ item.percentage }}  %</h3>
                                {% endif %}
                            </div>
                            <div class="col l14 m4 s4 center">
                                <a href="" class="large"><i class="fa fa-clone fa-3x"></i></a>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li><h2>No Items yet.</h2></li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}
