{% extends "base.html" %}

{% block style %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <span class="card-title">{{ object.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col s12 m3 l4">
            <div class="card">
                <div class="card-content center">
                    <span class="card-title"><a class="grey-text text-darken-3" href="{% url 'test-menu' object.id%}"><i class="far fa-clipboard"></i> Examen</a></span>
                </div>
            </div>
        </div>

        <div class="col s12 m3 l4">
            <div class="card">
                <div class="card-content center">
                    <span class="card-title"><a class="grey-text text-darken-3" href="{% url 'test-history' object.id%}"><i class="fas fa-clipboard-check"></i> Resultados</a></span>
                </div>
            </div>
        </div>

        <div class="col s12 m3 l4">
            <div class="card">
                <div class="card-content center">
                    <span class="card-title"><a class="grey-text text-darken-3" href="{% url 'lesson-update' object.id%}"><i class="far fa-edit"></i> Editar</a></span>
                </div>
            </div>
        </div>


        <div class="col s12 m3 l4">
            <div class="card">
                <div class="card-content center">
                    <span class="card-title"><a class="grey-text text-darken-3" href="{% url 'lesson-tracking' object.id%}"><i class="fas fa-chart-bar"></i> Tracking</a></span>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
