{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card materialize-red">
                <div class="card-content white-text center">
                    <a class="btn-floating halfway-fab waves-effect waves-light btn-large light-blue darken-2" href="{% url 'lesson-create' %}">
                      <i class="large material-icons">add</i>
                    </a>
                    <span class="card-title">Lecciones</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for lessons in object_list %}
            <div class="col s12 m3 l3">
                <div class="card">
                    <div class="card-content center">
                        <span class="card-title"><a class="grey-text text-darken-3" href="{% url 'lesson-menu' lessons.id%}">{{ lessons.name }}</a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
